button
{
    padding: 10px;
    margin:10px;
    background-color: coral;

}

/* .manoj{
    border: 20px;
border-color: blue;
}  */

#cal{

    position: absolute;
    border-style: solid;
    height: 500px;
    width: 300px;
    /* border-width:10px; */

     border-color: red;  
    /* border-radius: 20px;    */
    top: 10px;
    left: 450px;
    background-color:darkgray
}

#raj{
    text-align: center;
}